# {{ ansible_managed }}

{% for default in sudoer_defaults %}
{% if default is mapping %}
{% for name, values in default.items() %}
{% for items in values | to_list | slice(6) %}
{% if items %}
Defaults    {{ name }} {% if not loop.first %}+{% endif %}= "{{ items | to_list | join(' ') }}"
{% endif -%}
{% endfor %}
{% endfor %}
{% elif default|first == ':' %}
Defaults{{ default }}
{% else %}
Defaults    {{ default }}
{% endif %}
{% endfor %}

{% if sudoer_aliases.user is defined and sudoer_aliases.user %}
## User Aliases
## These aren't often necessary, as you can use regular groups
## (ie, from files, LDAP, NIS, etc) in this file - just use %groupname
## rather than USERALIAS
{% for alias in sudoer_aliases.user %}
{% if alias.comment is defined and alias.comment %}
# {{ alias.comment }}
{% endif %}
User_Alias {{ alias.name }} = {{ alias.users | join(',') }}
{% endfor %}

{% endif %}
{% if sudoer_aliases.runas is defined and sudoer_aliases.runas %}
## Runas Aliases
{% for alias in sudoer_aliases.runas %}
{% if alias.comment is defined and alias.comment %}
# {{ alias.comment }}
{% endif %}
Runas_Alias {{ alias.name }} = {{ alias.users | join(',') }}
{% endfor %}

{% endif %}
{% if sudoer_aliases.host is defined and sudoer_aliases.host %}
## Host Aliases
## Groups of machines. You may prefer to use hostnames (perhaps using
## wildcards for entire domains) or IP addresses instead.
{% for alias in sudoer_aliases.host %}
{% if alias.comment is defined and alias.comment %}
# {{ alias.comment }}
{% endif %}
Host_Alias {{ alias.name }} = {{ alias.hosts | join(',') }}
{% endfor %}

{% endif %}
{% if sudoer_aliases.command is defined and sudoer_aliases.command %}
## Command Aliases
## These are groups of related commands...
{% for alias in sudoer_aliases.command %}
{% if alias.comment is defined and alias.comment %}
# {{ alias.comment }}
{% endif %}
Cmnd_Alias {{ alias.name }} = {{ alias.commands | join(',') }}
{% endfor %}

{% endif %}

## Allow root to run any commands anywhere
root	ALL=(ALL) 	ALL

## Read drop-in files from /etc/sudoers.d (the # here does not mean a comment)
#includedir /etc/sudoers.d
